fastapi
uvicorn
langchain
langchain-text-splitters
langchain-openai
langchain-community
python-dotenv
pydantic
pydantic-settings
psycopg2-binary
pgvector
langchain-postgres
sqlalchemy
langchain-ollama
openai
gtts
redis
redisvl
pypdf
pytest
pytest-asyncio
httpx
