fastapi
uvicorn
langchain
langchain-text-splitters
langchain-openai
langchain-community
chromadb
python-dotenv
pydantic
psycopg2-binary
pgvector
langchain-postgres
sqlalchemy
--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
langchain-huggingface
langchain-ollama
pytest
pytest-asyncio
httpx
redis
langchain-redis
pypdf
